body {
	background: black;
}

#logo {
	color: orange;
	margin-top: 40px;
	margin-left: 30px;
	font-family: 'Bebas Neue', cursive;
	font-size: 16px;
}

#info {
	color: yellow;
	margin-top: -700px;
	margin-left: 20px;
	font-family: tahoma;
}

#robot-img {
	text-align: right;
	margin-right: 40px;
}

.robots {
	font-family: tahoma;
	margin-left: 20px;
	margin-top: 50px;
}

#gumanoid {
	font-size: 15px;
	color: orange;
}

#image1 {
	margin-left: -40px;
}

#pobut {
	color: green;
}

#promisel {
	color: red;
}

#image3 {
	margin-top: 30px;
}